.{
    margin: 0;
    padding: 0;
}

.about{
    width: 100%;
    background-color: powderblue;
    height: 900px;
    font-size:35px;
  }

  .pa2{
    color:rgb(243, 88, 17);
    font-size: 30px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
  }